# requirements.in
aiohappyeyeballs
aiohttp
aiohttp-retry
aiolib
aiosignal
aitertools
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
audioop-lts
audioread
babel
beautifulsoup4
bleach
blinker
boto3
botocore
cachetools
certifi
cffi
chardet
charset-normalizer
click
clickhouse-connect
clickhouse-driver
comm
contourpy
cycler
Cython
dataclasses-json
debugpy
decorator
defusedxml
distro
docker
executing
faiss-cpu
fastapi
fastjsonschema
filelock
Flask
fonttools
fqdn
frozenlist
fsspec
future
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-speech
google-cloud-storage
google-cloud-texttospeech
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
googletrans
greenlet
grpcio
grpcio-status
gTTS
h11
h2
hpack
hstspreload
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
hyperframe
idna
imageio
imageio-ffmpeg
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jiter
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lazy_loader
librosa
llvmlite
lxml
lz4
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mistune
moviepy
mpmath
msgpack
multidict
mypy-extensions
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
ollama
openai
opencv-python
orjson
ormsgpack
outcome
overrides
packaging
pandas
pandocfilters
parso
PDFpy
pexpect
pika
pillow
platformdirs
playsound
pooch
proglog
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic-settings
pydantic-core
pydeck
pydub
pygame
Pygments
PyJWT
pyparsing
PyPDF2
PySocks
python-dateutil
python-docx
python-dotenv
python-json-logger
pyttsx3
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986
rfc3986-validator
rpds-py
rsa
s3transfer
safetensors
scikit-learn
scipy
selenium
Send2Trash
sentence-transformers
setuptools
six
smmap
sniffio
sortedcontainers
soundfile
soupsieve
soxr
SpeechRecognition
SQLAlchemy
stack-data
standard-aifc
standard-chunk
starlette
streamlit
sympy
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
twilio
types-python-dateutil
typing-inspect
typing-extensions
tzdata
tzlocal
uri-template
uritemplate
urllib3
uv
watchdog
wcwidth
webcolors
webdriver-manager
webencodings
websocket-client
Werkzeug
widgetsnbextension
wordcloud
wsproto
xxhash
yarl
zstandard
